################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg

 # Files built by Visual Studio
*.obj
*.pdb
*.dll

*.publishsettings
/UniWare_PandoIntegration/obj/Debug/net6.0/UniWare_PandoIntegration.csproj.AssemblyReference.cache
/.vs/UniWare_PandoIntegration/v17/.suo
*.vsidx
*bin/debug/net6/.dll
*bin/debug/net6/.pdb
