################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/
bin/
# Ignore any files in /bin and /obj Folders
**/bin/*
**/obj/*

# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg

 # Files built by Visual Studio
*.obj
*.pdb
*.dll

*.publishsettings
/UniWare_PandoIntegration/obj/Debug/net6.0/UniWare_PandoIntegration.csproj.AssemblyReference.cache
/.vs/UniWare_PandoIntegration/v17/.suo
*.vsidx
*bin/debug/net6/.dll
*bin/debug/net6/.pdb
/.vs/ProjectEvaluation/uniware_pandointegration.metadata.v6.1
/.vs/ProjectEvaluation/uniware_pandointegration.projects.v6.1
/.vs/UniWare_PandoIntegration/DesignTimeBuild/.dtbcache.v2
*.lock
*bin/
 
/.vs/UniWare_PandoIntegration/v17/.futdcache.v2
/Uniware_PandoIntegration.APIs/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Uniware_PandoIntegration.BusinessLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Uniware_PandoIntegration.DataAccessLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Uniware_PandoIntegration.Entities/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/UniWare_PandoIntegration/bin/Debug/net6.0/UniWare_PandoIntegration.dll
/UniWare_PandoIntegration/bin/Debug/net6.0/UniWare_PandoIntegration.exe
/UniWare_PandoIntegration/bin/Debug/net6.0/UniWare_PandoIntegration.pdb
