<div class="container-fluid">
    <div class="flex h-screen bg-gray-50 dark:bg-gray-900">
        <!-- Desktop sidebar -->
        <!-- Mobile sidebar -->
        <!-- Backdrop -->

        <div class="flex flex-col flex-1 w-full">


            <div class="container-fluid px-6 mx-auto grid">
                <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200" style="padding-bottom: 20px;margin-top:0px !important;">
                    Tracking Dashboard
                </h2>
                <div class="row" id="row">
                </div>
                <div class="w-full overflow-hidden rounded-lg shadow-xs" style="margin-top: 30px;">
                    <div class="w-full">
                        <p>Please select search By:</p>
                        <input type="radio" id="html" name="ordertype" value="OrderID">
                        <label for="html">Order ID</label><br>
                        <input type="radio" id="css" name="ordertype" value="TrackingNumber">
                        <label for="css">Tracking ID</label><br>
                        <input type="text" id="trackingno"/>
                    </div>
                    <input type="submit" name="submit" id="submit" class="btn btn-danger red-text-dark" value="Submit" onclick="GetTrackingLink()" />

                </div>
                <div class="w-full overflow-hidden rounded-lg shadow-xs" style="margin-top: 30px;">
                    <div class="w-full">
                        <table id="TrackingDetails" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" style="display:none">
                            <thead>
                                <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800" style="font-size:12px;">

                                    <th class="px-4 py-3">Tracking Number</th>
                                    <th class="px-4 py-3">Display Order Code</th>
                                    <th class="px-4 py-3">Shipment Id</th>
                                    <th class="px-4 py-3">Status</th>
                                    <th class="px-4 py-3">Courier Name</th> 
                                    <th class="px-4 py-3">Tracking Link</th>
                                    <th class="px-4 py-3">Customer Name</th>
                                    <th class="px-4 py-3">Phone</th>
                                    <th class="px-4 py-3">Facility</th>
                                    <th class="px-4 py-3">Customer City</th>
                                    <th class="px-4 py-3">Invoice Date</th>
                                    <th class="px-4 py-3">Material Code</th>
                                    <th class="px-4 py-3">Quantity</th>
                                    <th class="px-4 py-3">UOM</th>
                                    <th class="px-4 py-3">Indent ID</th>
                                    <th class="px-4 py-3">Pincode</th>
                                    <th class="px-4 py-3">State</th>
                                    <th class="px-4 py-3">Zone</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
            </div>
        </div>
    </div>
    <script>
   
        function GetTrackingLink() {
            debugger;
            var number=$("#trackingno").val();
            var name = $('input[name="ordertype"]:checked').val();
            $(".preloader").fadeIn(500);

            $.get("/TrackingDashboard/GettrackingLink", {
                SearchBy: name,
                trackingNo: number
            }).done(function (data) {
                    debugger;
                    $("#TrackingDetails").css("display", "block");

                    if ($.fn.dataTable.isDataTable('#TrackingDetails')) {
                        table = $('#TrackingDetails').DataTable();
                        table.clear();
                        table.destroy();
                    }
                    if (data.length != 0) {
                        debugger;
                        $('#TrackingDetails').DataTable({
                            "info": true,
                            "stateSave": true,
                            "dom": 'Bfrltip',
                            "scrollX": true,
                            "orderCellsTop": true,
                            "searchDelay": 500,
                            "responsive": false,
                            data: data,

                            "columns": [

                                { data: "trackingNumber" },
                                { data: "displayOrder" },
                                { data: "shipmentID" },
                                { data: "latestStatus" },
                                { data: "courierName" },
                                {
                                    data: "trackingLink",
                                    render: function (data, type, row) {
                                        return '<a href="' + data + '" target="_blanck">' + data + '</a>'
                                    }

                                },
                                { data: "customerName" },
                                { data: "customerPhone" },
                                { data: "facilityCode" },
                                { data: "customerCity" },
                                { data: "invoiceDate" },
                                { data: "materialCode" },
                                { data: "quantity" },
                                { data: "uom" },
                                { data: "indentID" },
                                { data: "pincode" },
                                { data: "state" },
                                { data: "region" }

                            ]
                        })

                    }
                    else {
                        iqwerty.toast.toast("No Failed Records Found!!");
                    }
            });
            $(".preloader").fadeOut();

        }


        

    </script>
</div>