<link href="~/css/font_family.css" rel="stylesheet" />
<link href="~/css/css_bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/fontawesome4.7.0.min.css" rel="stylesheet" />
<script src="~/js/jquery-3.7.0.min.js"></script>
<script src="~/js/toast.min.js"></script>
<script src="~/js/jquery.datatables.min.js"></script>
<script src="~/js/datatables.bootstrap.min.js"></script>
<script src="~/js/datatables.responsive.min.js"></script>
<script src="~/js/responsive.bootstrap.min.js"></script>
<link href="~/css/css_datatables.bootstrap.min.css" rel="stylesheet" />
<link href="~/css/css_responsive.bootstrap.min.css" rel="stylesheet" />
<style>
    input#trackingno:focus {
        background-color: #fff !important;
        outline-color: #fff !important;
    }

    input#trackingno:hover {
        background-color: #fff !important;
    }

    .inputGroup.inline-radio input[type=radio]:checked ~ .pre-text, .inputGroup.inline-radio input[type=radio] ~ .pre-text {
        border-color: transparent;
    }

    .inputGroup.inline-radio {
        display: inline-block;
        margin: 0;
        background-color: transparent;
        float: left;
    }

        .inputGroup.inline-radio .pre-text {
            padding: 5px 0 5px 35px;
            font-size: 100%;
        }

    .inputGroup .pre-text {
        padding: 8px 40px 8px 12px;
        width: 100%;
        display: block;
        text-align: left;
        color: var(--base-primary-color);
        cursor: pointer;
        position: relative;
        z-index: 2;
        -webkit-transition: color .2s ease-in;
        transition: color .2s ease-in;
        overflow: hidden;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 2px solid #f3f3f3;
        border-radius: 4px;
        font-size: 112.5%;
    }

    .inputGroup input[type=radio]:checked ~ .pre-text::before {
        -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
    }

    .inputGroup.inline-radio .pre-text::before {
        background-color: transparent;
    }

    .inputGroup .pre-text::before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: "";
        background-color: #f3f3f3;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%) scaleX(1);
        transform: translate(-50%, -50%) scaleX(1);
        -webkit-transition: all .3s cubic-bezier(.4,0,.2,1);
        transition: all .3s cubic-bezier(.4,0,.2,1);
        opacity: 0;
        z-index: -1;
    }

    .inputGroup input[type=radio]:checked ~ .pre-text::after {
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .inputGroup .pre-text::after {
        width: 24px;
        height: 24px;
        content: "";
        border: 2px solid #e6e6e6;
        background-color: #fff;
        background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff'/%3E%3C/svg%3E);
        background-repeat: no-repeat;
        background-position: 2px 2px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        cursor: pointer;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
        background-size: 22px 22px;
    }

    .inputGroup.inline-radio .pre-text::after {
        left: 5px;
    }

    .inputGroup .pre-text::after {
        width: 24px;
        height: 24px;
        content: "";
        border: 2px solid #e6e6e6;
        background-color: #fff;
        background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff'/%3E%3C/svg%3E);
        background-repeat: no-repeat;
        background-position: 2px 2px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        cursor: pointer;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
        background-size: 22px 22px;
    }

    .search .input-group .icon-search, .search .input-group .track-order {
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
        display: table-cell;
        width: 20px;
        height: 20px;
        padding: 0 10px;
        z-index: 2;
        margin-left: -1px;
    }

    .search .input-group .track-order {
        color: #fff;
        background-color: #dc3545;
        font-size: 100%;
        border-radius: 4px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border: 1px solid #dc3545;
        border-left-width: 0;
    }

    .search .input-group .textbox.container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        overflow: hidden;
    }

    .search .input-group .icon-search, .search .input-group .track-order {
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
        display: table-cell;
        width: 20px;
        height: 20px;
        padding: 0 10px;
        z-index: 2;
        margin-left: -1px;
    }

    .search .input-group .textbox.border-0 {
        border: none;
    }

    .search .input-group .textbox {
        border: 1px solid rgba(0, 0, 0, .12);
        width: 100%;
        display: table-cell;
        font-size: 100%;
        padding: 5px;
        height: 40px;
        line-height: 125%;
        z-index: 1;
    }

    .search .input-group {
        position: relative;
        display: table;
        border-collapse: separate;
        width: 100%;
        margin-top: 10px;
    }

    .mrg-top-10 {
        margin-top: 10px !important;
    }

    .inputGroup input[type=radio] {
        width: 32px;
        height: 32px;
        -ms-flex-order: 1;
        order: 1;
        z-index: 2;
        position: absolute;
        right: 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        cursor: pointer;
        visibility: hidden;
    }

    .search {
        background-color: #fff;
        border-radius: 4px;
        text-align: left;
        padding: 20px;
        /* -webkit-box-shadow: 0 0 7px 2px rgba(0,0,0,.05);
            box-shadow: 0 0 7px 2px rgba(0,0,0,.05); */
        box-shadow: 0px 2px 12px 0px gray;
    }

    .inputGroup.inline-radio .label {
        font-size: 100%;
        font-weight: 500;
        float: left;
        line-height: 34px;
        color: #474747;
    }

    .col-gutter-200 {
        padding-left: 25%;
        padding-right: 25%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    thead {
        background-color: #dc3545 !important;
        color: #fff;
    }

    .dataTables_length {
        display: block !important;
    }
</style>

<div class="container-fluid">
    <div class="flex h-screen bg-gray-50 dark:bg-gray-900">
        <!-- Desktop sidebar -->
        <!-- Mobile sidebar -->
        <!-- Backdrop -->

        <div class="flex flex-col flex-1 w-full">


            <div class="container-fluid px-6 mx-auto grid">
                <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200" style="padding-bottom: 20px;margin-top:0px !important;">
                    Tracking Dashboard
                </h2>
                <div class="row" id="row">
                </div>
                <div class="w-full overflow-hidden rounded-lg shadow-xs" style="margin-top: 30px;">


                    <div class="row col-gutter-200 ">
                        <div class="col-md-12 col-xs-12">
                            <div class="search">
                                <div class="inputGroup left inline-radio">
                                    <label class="label">Search By:</label>
                                </div>
                                <div class="inputGroup left inline-radio">
                                    <input id="order_id" name="ordertype" type="radio" value="OrderID">
                                    <label class="pre-text" for="order_id">Order ID/No</label>
                                </div>
                                <div class="inputGroup left inline-radio">
                                    <input id="waybill" name="ordertype" type="radio" checked="" value="TrackingNumber">
                                    <label class="pre-text" for="waybill">Tracking ID/AWB</label>
                                </div>
                                <div class="clear-both"></div>
                                <div class="input-group mrg-top-10">
                                    <div class="textbox container">
                                        <input type="text" class="textbox border-0" placeholder="Enter Your Order ID/No" id="trackingno" autocomplete="off" required>
                                    </div>
                                    <span class="track-order" tabindex="0" role="button" onclick="GetTrackingLink()">Track Your Order</span>
                                </div>
                                <p class="mrg-top-10">Check current status of your shipment.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="flex h-screen bg-gray-50 dark:bg-gray-900" id="table_tracking_id">
                <div class="w-full overflow-hidden rounded-lg shadow-xs" style="margin-top: 30px;">
                    <div class="w-full">
                        <table id="TrackingDetails" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%" style="display:table !important;">

                            @* <table id="TrackingDetails" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" style="display:none"> *@
                            @*  <thead>
                            <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800" style="font-size:12px;">

                            <th class="px-4 py-3">Tracking Number</th>
                            <th class="px-4 py-3">Display Order Code</th>
                            <th class="px-4 py-3">Shipment Id</th>
                            <th class="px-4 py-3">Status</th>
                            <th class="px-4 py-3">Courier Name</th>
                            <th class="px-4 py-3">Tracking Link</th>
                            <th class="px-4 py-3">Customer Name</th>
                            <th class="px-4 py-3">Phone</th>
                            <th class="px-4 py-3">Facility</th>
                            <th class="px-4 py-3">Customer City</th>
                            <th class="px-4 py-3">Invoice Date</th>
                            <th class="px-4 py-3">Material Code</th>
                            <th class="px-4 py-3">Quantity</th>
                            <th class="px-4 py-3">UOM</th>
                            <th class="px-4 py-3">Indent ID</th>
                            <th class="px-4 py-3">Pincode</th>
                            <th class="px-4 py-3">State</th>
                            <th class="px-4 py-3">Zone</th>
                            </tr>
                            </thead> *@
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script>

            function GetTrackingLink() {
                debugger;
                var number = $("#trackingno").val();
                var name = $('input[name="ordertype"]:checked').val();
                $(".preloader").fadeIn(500);

                $.get("/TrackingDashboard/GettrackingLink", {
                    SearchBy: name,
                    trackingNo: number
                }).done(function (data) {
                    debugger;


                    if ($.fn.dataTable.isDataTable('#TrackingDetails')) {
                        table = $('#TrackingDetails').DataTable();
                        table.clear();
                        table.destroy();
                    }
                    if (data.length != 0) {
                        $("#table_tracking_id").css("display", "block");
                        debugger;
                        $('#TrackingDetails').DataTable({
                            "info": true,
                            "responsive": false,
                            "paging": true,
                            "scrollX": true,
                            "searching": true,
                            "ordering": true,
                            "stateSave": true,
                            "dom": 'Bfrltip',
                            "orderCellsTop": true,
                            "searchDelay": 500,
                            data: data,


                            // "columns": [

                            //     { data: "trackingNumber" },
                            //     { data: "displayOrder" },
                            //     { data: "shipmentID" },
                            //     { data: "latestStatus" },
                            //     { data: "courierName" },
                            //     {
                            //         data: "trackingLink",
                            //         render: function (data, type, row) {
                            //             return '<a href="' + data + '" target="_blanck">' + data + '</a>'
                            //         }

                            //     },
                            //     { data: "customerName" },
                            //     { data: "customerPhone" },
                            //     { data: "facilityCode" },
                            //     { data: "customerCity" },
                            //     { data: "invoiceDate" },
                            //     { data: "materialCode" },
                            //     { data: "quantity" },
                            //     { data: "uom" },
                            //     { data: "indentID" },
                            //     { data: "pincode" },
                            //     { data: "state" },
                            //     { data: "region" }

                            // ]
                            "columns": [

                                {
                                    data: "trackingNumber",
                                    title: "Tracking Number"
                                },
                                {
                                    data: "displayOrder",
                                    title: "Display Order Code"
                                },
                                {
                                    data: "shipmentID",
                                    title: "Shipment Id"
                                },
                                {
                                    data: "latestStatus",
                                    title: "Status"
                                },
                                {
                                    data: "courierName",
                                    title: "Courier Name"
                                },
                                {
                                    data: "trackingLink",
                                    title: "Tracking Link",
                                    render: function (data, type, row) {
                                        return '<a href="' + data + '" target="_blanck">' + data + '</a>'
                                    }

                                },
                                {
                                    data: "customerName",
                                    title: "Customer Name"
                                },
                                {
                                    data: "customerPhone",
                                    title: "Phone"
                                },
                                {
                                    data: "facilityCode",
                                    title: "Facility"
                                },
                                {
                                    data: "customerCity",
                                    title: "City"
                                },
                                {
                                    data: "invoiceDate",
                                    title: "Invoice Date"
                                },
                                {
                                    data: "materialCode",
                                    title: "Material Code"
                                },
                                {
                                    data: "quantity",
                                    title: "Quantity"
                                },
                                {
                                    data: "uom",
                                    title: "UOM"
                                },
                                {
                                    data: "indentID",
                                    title: "Indent Number"
                                },
                                {
                                    data: "pincode",
                                    title: "Pincode"
                                },
                                {
                                    data: "state",
                                    title: "State"
                                },
                                {
                                    data: "region",
                                    title: "Region"
                                }
                            ]
                        }).columns.adjust();

                    }
                    else {
                        $("#table_tracking_id").css("display", "none");
                        iqwerty.toast.toast("No Failed Records Found!!");
                    }
                });
                $(".preloader").fadeOut();

            }
        </script>
    </div>
</div>