@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/font_family.css" rel="stylesheet" />
<link href="~/css/css_bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/fontawesome4.7.0.min.css" rel="stylesheet" />
<script src="~/js/jquery-3.7.0.min.js"></script>
<script src="~/js/toast.min.js"></script>
<script src="~/js/jquery.datatables.min.js"></script>
<script src="~/js/datatables.bootstrap.min.js"></script>
<script src="~/js/datatables.responsive.min.js"></script>
<script src="~/js/responsive.bootstrap.min.js"></script>
<link href="~/css/css_datatables.bootstrap.min.css" rel="stylesheet" />
<link href="~/css/css_responsive.bootstrap.min.css" rel="stylesheet" />
<script src="~/js/functions.js"></script>
<style>
    /* Color and Images for Project Containers  */

    /* Sizing for Project Containers  */
    .column-4 {
        float: left;
        width: 16%;
        padding: 10px;
        margin: 20px;
        height: 119px;
    }

    .project-tiles {
        background-color: #dc3545;
    }

    .pointer {
        cursor: pointer;
    }


    .project-text {
        text-align: center;
        font-size: 20px;
        color: #fff;
    }

    .project-tiles:hover {
        color: #dc3545;
    }
    /* Hover classes for individual project boxes */
    .project-tiles:hover {
        background-color: gray;
    }

    .dashboard_tiles {
        margin-top: 30px;
        padding: 50px;
        box-shadow: 1px 1px 10px 2px gray;
    }

    .tile_list {
        color: #dc3545;
        font-weight: 700;
        box-shadow: 1px 1px 10px 2px gray;
    }

        .tile_list:hover {
            color: #fff;
            background: #dc3545
        }

        .tile_list p {
            margin: 10px !important;
        }

    .title_dashboard {
        color: #dc3545;
        font-size: 2rem;
        text-shadow: 2px 2px;
    }


    .loader {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 120px;
        height: 120px;
        margin: -76px 0 0 -76px;
        /*background:white;*/
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        z-index: 99999;
    }



    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    a.logo:hover, a.notification_bell_icon:hover, a.waves-dark.pro-pic:hover {
        text-decoration: none !important;
    }

    .dataTables_length {
        display: none;
    }

</style>

<script>
    function fn_BindTable() {
        debugger;
        $("#overlay").fadeIn(500);
        $.get("/Home/ErrorList", {}).done(function (data) {
            $("#overlay").fadeOut(500);
            debugger;
            $("#errorList").html(data);
            fn_SaleOrder();
        });
    }
    //function fn_SaleOrder() {
    //    debugger;
    //    //$("#overlay").fadeIn(500);
    //    $.get("/Home/ErrorListDataObject", {}).done(function (data) {
    //        //console.log(data);
    //        //$("#overlay").fadeOut(500);
    //        debugger;
    //        //$("a").removeClass("dropdown-toggle");

    //        if (data.length != 0) {
    //            debugger;
    //            $('#saleorderTblId').DataTable({
    //                "processing": true,
    //                "info": true,
    //                "stateSave": true,
    //                data: data,

    //                "columns": [
    //                    //{ data:  },
    //                    { data: "code" },
    //                    { data: "itemSku" },
    //                    { data: "triggerid" },
    //                    { data: "reason" }
    //                ]
    //            })
    //            //$("#overlay").fadeOut(500);
    //        }
    //        else {
    //            iqwerty.toast.toast("No Failed Records Found!!");
    //            //$("#overlay").fadeOut(500);
    //        }
    //    });
    //}
    function fn_WaybillErrorList() {
        debugger;
        $("#overlay").fadeIn(500);
        $.get("/Home/WaybillErrorList", {}).done(function (data) {
            $("#overlay").fadeOut(500);
            debugger;
            $("#errorList").html(data);
            fn_WaybillErrorListDataObject();
        });
    }
    //function fn_WaybillErrorListDataObject() {
    //    debugger;
    //    //$("#overlay").fadeIn(500);
    //    $.get("/Home/WaybillErrorListDataObject", {}).done(function (data) {
    //        console.log(data);
    //        //$("#overlay").fadeOut(500);
    //        debugger;
    //        //$("a").removeClass("dropdown-toggle");

    //        if (data.length != 0) {
    //            debugger;
    //            $('#wayBillTblId').DataTable({
    //                "processing": true,
    //                "info": true,
    //                "stateSave": true,
    //                data: data,

    //                "columns": [

    //                    { data: "triggerid" },
    //                    { data: "reason" }
    //                ]
    //            })
    //            //$("#overlay").fadeOut(500);
    //        }
    //        else {
    //            iqwerty.toast.toast("No Failed Records Found!!");
    //            //$("#overlay").fadeOut(500);
    //        }
    //    });
    //}

    function fn_ReturnOrderErrorList() {
        debugger;
        $("#overlay").fadeIn(500);
        $.get("/Home/ReturnOrderErrorList", {}).done(function (data) {
            $("#overlay").fadeOut(500);
            debugger;
            $("#errorList").html(data);
            fn_ReturnOrderErrorListDataObject();


        });
    }
    //function fn_ReturnOrderErrorListDataObject() {
    //    debugger;
    //    //$("#overlay").fadeIn(500);
    //    $.get("/Home/ReturnOrderErrorListDataObject", {}).done(function (data) {
    //        console.log(data);
    //        //$("#overlay").fadeOut(500);
    //        debugger;
    //        //$("a").removeClass("dropdown-toggle");

    //        if (data.length != 0) {
    //            debugger;
    //            $('#returnOrderTblId').DataTable({
    //                "processing": true,
    //                "info": true,
    //                "stateSave": true,
    //                data: data,

    //                "columns": [
    //                    //{ data:  },
    //                    { data: "code" },
    //                    { data: "itemSku" },
    //                    { data: "triggerid" },
    //                    { data: "reason" }
    //                ]
    //            })
    //            //$("#overlay").fadeOut(500);
    //        }
    //        else {
    //            iqwerty.toast.toast("No Failed Records Found!!");
    //            //$("#overlay").fadeOut(500);
    //        }
    //    });
    //}
    function fn_STOWaybillErrorList() {
        debugger;
        $("#overlay").fadeIn(500);
        $.get("/Home/STOWaybillErrorList", {}).done(function (data) {
            $("#overlay").fadeOut(500);
            debugger;
            $("#errorList").html(data);
            fn_STOWaybillErrorListDataObject();


        });
    }
    //function fn_STOWaybillErrorListDataObject() {
    //    debugger;
    //    //$("#overlay").fadeIn(500);
    //    $.get("/Home/STOWaybillErrorListDataObject", {}).done(function (data) {
    //        console.log(data);
    //        //$("#overlay").fadeOut(500);
    //        debugger;
    //        //$("a").removeClass("dropdown-toggle");

    //        if (data.length != 0) {
    //            debugger;
    //            $('#stoWayBillTblId').DataTable({
    //                "processing": true,
    //                "info": true,
    //                "stateSave": true,
    //                data: data,

    //                "columns": [
    //                    //{ data:  },
    //                    { data: "code" },
    //                    { data: "itemSku" },
    //                    { data: "triggerid" },
    //                    { data: "reason" }
    //                ]
    //            })
    //            //$("#overlay").fadeOut(500);
    //        }
    //        else {
    //            iqwerty.toast.toast("No Failed Records Found!!");
    //            //$("#overlay").fadeOut(500);
    //        }
    //    });
    //}

    function fn_STOAPI() {
        debugger;
        $("#overlay").fadeIn(500);
        $.get("/Home/STOAPIErrorList", {}).done(function (data) {
            $("#overlay").fadeOut(500);
            $("#errorList").html(data);
            fn_STOAPIDataObject();

        });
    }
    //function fn_STOAPIDataObject() {
    //    debugger;
    //    //$("#overlay").fadeIn(500);
    //    $.get("/Home/STOAPIErrorListData", {}).done(function (data) {
    //        console.log(data);
    //        //$("#overlay").fadeOut(500);
    //        debugger;
    //        //$("a").removeClass("dropdown-toggle");

    //       if (data.length != 0) {
    //        debugger;
    //            $('#stoApiId').DataTable({
    //            "processing": true,
    //            "info": true,
    //            "stateSave": true,
    //            data: data,

    //            "columns": [
    //                { data: "code" },
    //                { data: "itemSku" },
    //                { data: "triggerid" },
    //                { data: "reason" }
    //            ]
    //        })
    //        //$("#overlay").fadeOut(500);
    //        }
    //        else {
    //            iqwerty.toast.toast("No Failed Records Found!!");
    //            //$("#overlay").fadeOut(500);
    //        }
    //    });
    //}
    function fn_UpdateShipping() {
        debugger;
        $("#overlay").fadeIn(500);
        $.get("/Home/UpdateShippingErrorList", {}).done(function (data) {
            $("#overlay").fadeOut(500);
            $("#errorList").html(data);
            fn_UpdateShippingDataObject();

        });
    }
    function fn_AllocateShipping() {
        debugger;
        $("#overlay").fadeIn(500);
        $.get("/Home/AllocateShippingErrorList", {}).done(function (data) {
            debugger;
            $("#overlay").fadeOut(500);
            $("#errorList").html(data);
            fn_AllocateShippingDataObject();

        });
    }

    function fn_ExcelUpload() {
        debugger;
        $("#overlay").fadeIn(500);
        $.get("/UploadExcel/Uploads", {}).done(function (data) {
            debugger;
            $("#overlay").fadeOut(500);
            $("#errorList").html(data);
            //fn_AllocateShippingDataObject();

        });
    }
    function fn_ReversePickUp() {
        debugger;
        $("#overlay").fadeIn(500);
        $.get("/Home/ReversePickUpErrorList", {}).done(function (data) {
            debugger;
            $("#overlay").fadeOut(500);
            $("#errorList").html(data);
            fn_ReversePickupDataObject();

        });
    }
    function fn_ExcelMasterUpload() {
        debugger;
        $("#overlay").fadeIn(500);
        $.get("/UploadExcel/UploadMaster", {}).done(function (data) {
            debugger;
            $("#overlay").fadeOut(500);
            $("#errorList").html(data);
            //fn_AllocateShippingDataObject();

        });
    }
    function fn_ExcelTruckMaster() {
        debugger;
        $("#overlay").fadeIn(500);
        $.get("/UploadExcel/UploadTruckDetails", {}).done(function (data) {
            debugger;
            $("#overlay").fadeOut(500);
            $("#errorList").html(data);
            //fn_AllocateShippingDataObject();

        });
    }
    function fn_StoGatePass() {
        debugger;
        $("#overlay").fadeIn(500);
        $.get("/UploadExcel/STOUpload", {}).done(function (data) {
            debugger;
            $("#overlay").fadeOut(500);
            $("#errorList").html(data);
            //fn_AllocateShippingDataObject();

        });
    }

</script>
@*<div class="loader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>*@
@if (ViewBag.Message != null)
{
    <script>

        $(document).ready(function () {
            //debugger;
            const options = {
                style: {
                    main: {
                        background: "#dc3545",
                        color: "#fff",
                    },
                },
            };
            iqwerty.toast.toast('@ViewBag.Message', options);
            ////alert('@ViewBag.Message');

        });


    </script>
}
<div class="dashboard_tiles">
    <div class="row">

        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0" onclick="fn_BindTable();">

            <div class="card text-white text-center mb-4 pointer">
                <div class="card-body tile_list">
                    @*<h5 class="card-title">Panel title that wraps to a new line</h5>*@
                    <p>
                        Sale Order API
                    </p>
                </div>
            </div>
        </div>

        <d iv class="col-lg-4 mb-4 mb-lg-0" onclick="fn_WaybillErrorList();">

            <div class="card text-white mb-4 text-center pointer">
                <div class="card-body tile_list">
                    <p>Waybill Generation API</p>
                </div>
            </div>
        </d>

        <div class="col-lg-4 mb-4 mb-lg-0" onclick="fn_ReturnOrderErrorList()">

            <div class="card text-white text-center mb-4 pointer">
                <div class="card-body tile_list">
                    <p>Return Order API</p>
                </div>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0" onclick="fn_STOWaybillErrorList()">

            <div class="card text-white text-center mb-4 pointer">
                <div class="card-body tile_list">
                    @*<h5 class="card-title">Panel title that wraps to a new line</h5>*@
                    <p>STO Waybill API </p>
                </div>
            </div>

        </div>

        <div class="col-lg-4 mb-4 mb-lg-0" onclick="fn_STOAPI()">

            <div class="card text-white mb-4 text-center pointer">
                <div class="card-body tile_list">
                    <p>STO API</p>
                </div>
            </div>

        </div>
        <div class="col-lg-4 mb-4 mb-lg-0" onclick="fn_UpdateShipping()">

            <div class="card text-white mb-4 text-center pointer">
                <div class="card-body tile_list">
                    <p>Update Shipping</p>
                </div>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-lg-4 mb-4 mb-lg-0" onclick="fn_AllocateShipping()">

            <div class="card text-white mb-4 text-center pointer">
                <div class="card-body tile_list">
                    <p>Allocate Shipping</p>
                </div>
            </div>

        </div>
        <div class="col-lg-4 mb-4 mb-lg-0" onclick="fn_ExcelUpload()">
            <div class="card text-white mb-4 text-center pointer">
                <div class="card-body tile_list">
                    <p>Excel Upload</p>
                </div>
            </div>

        </div>
        <div class="col-lg-4 mb-4 mb-lg-0" onclick="fn_ReversePickUp()">
            <div class="card text-white mb-4 text-center pointer">
                <div class="card-body tile_list">
                    <p>Reverse Pickup</p>
                </div>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-lg-4 mb-4 mb-lg-0" onclick="fn_ExcelMasterUpload()">
            <div class="card text-white mb-4 text-center pointer">
                <div class="card-body tile_list">
                    <p>Facility Master Update</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0" onclick="fn_ExcelTruckMaster()">
            <div class="card text-white mb-4 text-center pointer">
                <div class="card-body tile_list">
                    <p>Truck Details Master</p>
                </div>
            </div>

        </div>
        <div class="col-lg-4 mb-4 mb-lg-0" onclick="fn_StoGatePass()">
            <div class="card text-white mb-4 text-center pointer">
                <div class="card-body tile_list">
                    <p>STO Gate Pass Upload</p>
                </div>
            </div>

        </div>
    </div>


</div>


