

input#trackingno:focus {
    background-color: #fff !important;
    outline-color: #fff !important;
}

input#trackingno:hover {
    background-color: #fff !important;
}

.inputGroup.inline-radio input[type=radio]:checked ~ .pre-text, .inputGroup.inline-radio input[type=radio] ~ .pre-text {
    border-color: transparent;
}

.inputGroup.inline-radio {
    display: inline-block;
    margin: 0;
    background-color: transparent;
    float: left;
}

    .inputGroup.inline-radio .pre-text {
        padding: 5px 0 5px 35px;
        font-size: 100%;
    }

.inputGroup .pre-text {
    padding: 8px 40px 8px 12px;
    width: 100%;
    display: block;
    text-align: left;
    color: var(--base-primary-color);
    cursor: pointer;
    position: relative;
    z-index: 2;
    -webkit-transition: color .2s ease-in;
    transition: color .2s ease-in;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #f3f3f3;
    border-radius: 4px;
    font-size: 112.5%;
}

.inputGroup input[type=radio]:checked ~ .pre-text::before {
    -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}

.inputGroup.inline-radio .pre-text::before {
    background-color: transparent;
}

.inputGroup .pre-text::before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: "";
    background-color: #f3f3f3;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scaleX(1);
    transform: translate(-50%, -50%) scaleX(1);
    -webkit-transition: all .3s cubic-bezier(.4,0,.2,1);
    transition: all .3s cubic-bezier(.4,0,.2,1);
    opacity: 0;
    z-index: -1;
}

.inputGroup input[type=radio]:checked ~ .pre-text::after {
    background-color: #dc3545;
    border-color: #dc3545;
}

.inputGroup .pre-text::after {
    width: 24px;
    height: 24px;
    content: "";
    border: 2px solid #e6e6e6;
    background-color: #fff;
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff'/%3E%3C/svg%3E);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background-size: 22px 22px;
}

.inputGroup.inline-radio .pre-text::after {
    left: 5px;
}

.inputGroup .pre-text::after {
    width: 24px;
    height: 24px;
    content: "";
    border: 2px solid #e6e6e6;
    background-color: #fff;
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff'/%3E%3C/svg%3E);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background-size: 22px 22px;
}

.search .input-group .icon-search, .search .input-group .track-order {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    width: 20px;
    height: 20px;
    padding: 0 10px;
    z-index: 2;
    margin-left: -1px;
}

.search .input-group .track-order {
    color: #fff;
    background-color: #dc3545;
    font-size: 100%;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #dc3545;
    border-left-width: 0;
}

.search .input-group .textbox.container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

.search .input-group .icon-search, .search .input-group .track-order {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    width: 20px;
    height: 20px;
    padding: 0 10px;
    z-index: 2;
    margin-left: -1px;
}

.search .input-group .textbox.border-0 {
    border: none;
}

.search .input-group .textbox {
    border: 1px solid rgba(0, 0, 0, .12);
    width: 100%;
    display: table-cell;
    font-size: 100%;
    padding: 5px;
    height: 40px;
    line-height: 125%;
    z-index: 1;
}

.search .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;
    margin-top: 10px;
}

.mrg-top-10 {
    margin-top: 10px !important;
}

.inputGroup input[type=radio] {
    width: 32px;
    height: 32px;
    -ms-flex-order: 1;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

.search {
    background-color: #fff;
    border-radius: 4px;
    text-align: left;
    padding: 20px;
    /* -webkit-box-shadow: 0 0 7px 2px rgba(0,0,0,.05);
                box-shadow: 0 0 7px 2px rgba(0,0,0,.05); */
    box-shadow: 0px 2px 12px 0px gray;
}

.inputGroup.inline-radio .label {
    font-size: 100%;
    font-weight: 500;
    float: left;
    line-height: 34px;
    color: #474747;
}

.col-gutter-200 {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
}

thead {
    background-color: #dc3545 !important;
    color: #fff;
}

.dataTables_length {
    display: block !important;
}

#overlay {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    /*background: rgba(253 48 34,0.4);*/
    background: rgba(0,0,0,0.4);
}

.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .search.d-flex.align-items-center.justify-content-center {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .col-gutter-200 {
        padding-left: 18% !important;
        padding-right: 18% !important;
    }
}
